<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Loan Type</td>
            <td> Wallet</td>
            <td>Guarantee</td>
            <td>Amount</td>
        </th>
        {% for customer in customers %}
        <tr>
            <td>{{customer.loan_type}}</td>
            <td>{{customer.wallet_loan}}</td>
            <td>{{customer.guarantee}}</td>
            <td>{{customer.loan_amount}}</td> 
        </tr>
        {% endfor%}
    </table>
</body>
</html>

