<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Wallet</td>
            <td>Wallet name</td>
            <td>Account number</td>
        </th>
        {% for customer in customers %}
        <tr>
            <td>{{customer.wallet}}</td>
            <td>{{customer.name_wallet}}</td>
            <td>{{customer.acc_number}}</td>
        </tr>
        {% endfor%}
    </table>
</body>
</html>

